    <div class="movie-grid">
        <div class="showcase">
            <div class="main-image">Image 1</div>
            <div class="side-image">Image 2</div>
            <h1 class="showcase-title">The Maze Runner(2014)</h1>
            <div class="showcase-grid">
                <div class="vote-tile">
                    <i class="fa fa-heart"></i>
                    <span>
                        <h4 class="movie-averageVote">80%</h4>
                        <h4 class="movie-votes">80.4k votes</h4>
                    </span>
                </div>
                <div class="rating-tile">
                        <div class="rating-logo"><i class="fa fa-imdb" aria-hidden="true"></i></div>
                        <div class="rating-text">
                            <h3>6.8/10</h3>
                            <h4>IMDb</h4>
                        </div>
                </div>
                <div class="rating-tile">
                        <div class="rating-logo"><i class="fa fa-imdb" aria-hidden="true"></i></div>
                        <div class="rating-text">
                            <h3>6.8/10</h3>
                            <h4>IMDb</h4>
                        </div>
                </div>
                <div class="rating-tile">
                        <div class="rating-logo"><i class="fa fa-imdb" aria-hidden="true"></i></div>
                        <div class="rating-text">
                            <h3>6.8/10</h3>
                            <h4>IMDb</h4>
                        </div>
                </div>
                <div class="rating-tile">
                        <div class="rating-logo"><i class="fa fa-imdb" aria-hidden="true"></i></div>
                        <div class="rating-text">
                            <h3>6.8/10</h3>
                            <h4>IMDb</h4>
                        </div>
                </div>
                <div class="rating-text">
                    <h3>6.8/10</h3>
                    <h4>IMDb</h4>
                </div>
            </div>
            <div class="rating-tile">
                <div class="rating-logo">
                    <i class="fa fa-imdb" aria-hidden="true"></i>
                </div>
                <div class="rating-text">
                    <h3>6.8/10</h3>
                    <h4>IMDb</h4>
                </div>
            </div>
        </div>

    </div>

    <div class="movie-description">
        <div class="movie-assets">
            <h2 class="movie-releaseDate">
                <span class="lighten">Release date:</span> 2014.02.12</h2>
            <h2 class="movie-runtime">
                <span class="lighten">Runtime:</span> 113</h2>
            <h2 class="movie-popularity">
                <span class="lighten">Popularity</span>: 711.465456</h2>
            <h2 class="movie-revenue">
                <span class="lighten">Revenue:</span> $32131232</h2>
            <h2 class="movie-budget">
                <span class="lighten">Budget:</span> $321312</h2>
            <h2 class="movie-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi dignissimos impedit commodi </h2>
        </div>
    </div>

    <div class="movie-actors">
        <div class="actor-tile">
            <div class="actor-image"></div>
            <div class="actor-desc">
                <h4>ActorName1</h4>
                <h4>ActorMovieName</h4>
            </div>
        </div>
        <div class="actor-tile">
            <div class="actor-image"></div>
            <div class="actor-desc">
                <h4>ActorName2</h4>
                <h4>ActorMovieName</h4>
            </div>
        </div>
        <div class="actor-tile">
            <div class="actor-image"></div>
            <div class="actor-desc">
                <h4>ActorName3</h4>
                <h4>ActorMovieName</h4>
            </div>
        </div>
        <div class="actor-tile">
            <div class="actor-image"></div>
            <div class="actor-desc">
                <h4>ActorName4</h4>
                <h4>ActorMovieName</h4>
            </div>
        </div>
        <div class="actor-tile">
            <div class="actor-image"></div>
            <div class="actor-desc">
                <h4>ActorName5</h4>
                <h4>ActorMovieName</h4>
            </div>
        </div>
        <div class="actor-tile">
            <div class="actor-image"></div>
            <div class="actor-desc">
                <h4>ActorName6</h4>
                <h4>ActorMovieName</h4>
            </div>
        </div>
    </div>

    <div class="movie-video">
        <video src="#">Video</video>
    </div>