/* MIXINS*/

@mixin breakpoint($cols) {
    grid-template-columns: repeat($cols, 1fr);
    
    infinite-scroll {
        grid-column: 1 / ($cols + 1);
    }
    @content;
}
//__________________________________________________________________________ 
.grid-of-tiles {
    display: grid;
    position: relative;
    width: 100%;

    // remember to calculate the gap too
    grid-gap: 2px;
    @media only screen and (min-width: 270px) and (max-width: 479px){
        @include breakpoint(2){            
        };
    }
    @media only screen and (min-width: 480px) and (max-width: 767px) { 
        @include breakpoint(3){
        };
    }
    @media only screen and (min-width: 768px) and (max-width: 1439px) {
        @include breakpoint(5){
        };
    }
    @media only screen and (min-width: 1440px) {
        @include breakpoint(10){
        };
    }
}