
<div class="profile-container">
    <div class="profile-showcase">
        <div class="profile-wrapper">
            <div class="profile-picture">PROFILE </div>
            <div class="profile-text">
                <h2>Ivan Kitanovski</h2>
                <h3><i class="fas fa-map-marker-alt"></i>Skopje</h3>
                <h3><i class="fas fa-mars"></i>23</h3>
            </div>
        </div>
    </div>

    <div class="profile-about profile-box">
        <h3>About Ivan</h3>
    </div>

    <div class="profile-lastWatch profile-box">
        <h3>Last Watched</h3>
        <h2>The Dark Knight</h2>
        <h4>Movie info</h4>
    </div>

    <div class="profile-statistics profile-box">
        <div class="show-stats">
            <h2>Watched TV Shows</h2>
            <h3>2d 18h 15m</h3>
            <h3>last week</h3>
            <h3>67 episodes</h3>
        </div>

        <div class="movie-stats">
            <h2>Watched Movies</h2>
            <h3>2d 18h 15m</h3>
            <h3>last week</h3>
            <h3>3 movies</h3>
        </div>
    </div>
        
    <div class="profile-featureList profile-box">
        <h2>Watch list</h2>
        <ul>
            <li>Movie1</li>
            <li>Movie2</li>
            <li>Movie3</li>
            <li>Movie4</li>
        </ul>
    </div>

    <div class="profile-favoriteGenre profile-box">
        <h2>Favorite genres</h2>
        <ul>
            <li>Action (23%)</li>  
            <li>Action (23%)</li>  
            <li>Action (23%)</li>  
            <li>Action (23%)</li>  
            <li>Action (23%)</li>           
        </ul>
    </div>
</div>